.App {
  width: 30%;
  margin: auto;
  margin-top: 50px;
}
.square{
  background: #fff;
  border: 1px solid #ccc;
  width: 60px;
  height: 60px;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}
.wrap-all {
  display: flex;
}
.text-right {
  margin-left: 30px;
}
.list-history {
  list-style-type: decimal;
}
.move-btn,
.toggle {
  background: #f3c2be;
  border: none;
  line-height: 35px;
  padding: 0px 10px;
  color: #fff;
  font-size: 14px;
  margin: 5px 15px;
  cursor: pointer;
}
.check-winner {
  margin-bottom: 20px;
}
.wrap-left {
  height: 100%;
}
.btn-reset {
  background: #f3c2be;
  line-height: 40px;
  padding: 0px 40px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #f3c2be;
  transition: 0.3s;
}
.App .square--won{
  background: #f3c2be;
  color: #fff;
}